@import "tailwindcss";

html,
body,
#root {
    height: 100%;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

/* Hide Radix UI ScrollArea scrollbar when hide-scrollbar class is applied */
.hide-scrollbar [data-slot="scroll-area-scrollbar"] {
    display: none;
}